bin/
obj/
/packages/
riderModule.iml
Program.cs
ijuniorEducationHomework.csproj
ijuniorEducationHomework.sln
/_ReSharper.Caches/
/Properties/AssemblyInfo.cs
/.idea/.idea.ijuniorEducationHomework/.idea/encodings.xml
/.idea/.idea.ijuniorEducationHomework/.idea/indexLayout.xml
/.idea/.idea.ijuniorEducationHomework/.idea/misc.xml
/.idea/.idea.ijuniorEducationHomework/.idea/vcs.xml
